// DON'T TOUCH THIS FILE. PLEASE FOLLOW THE INSTRUCTIONS:
//  - COPY THIS FILE AS default.json ON THE SAME DIRECTORY
//  - FILL THE VALUES DEPENDING OF THE CURRENT ENVIRONMENT.
{
    "app": {
        "name": "App Name",
        "url": "http://localhost",
        "port": 3000,
        "env": "development",
        "debug": true,
        "secretKey": null
    },
    "db": {
        "host": "127.0.0.1",
        "port": 3306,
        "name": null,
        "user": null,
        "password": null
    },
    "mail": {
        "mailer": null,
        "host": null,
        "port": null,
        "username": null,
        "password": null,
        "encryptation": "tls",
        "fromAddress": "no-reply@appname.com",
        "fromName": "App Name",
        "domain": null,
        "secret": null
    }
}